---
layout: default
---

{% capture dropbox_link %}{{ site.data.global.dropbox_folder_path }}{{ page.title }}{% endcapture %}

<h2> {{ page.title }} <small> ( Last Updated: {{ page.date | date_to_string }} ) </small> </h2>
<div class="page_title hidden"> {{ page.title }} </div>
<hr>

<div class="jumbotron">
  <div class="row">
    <div class="col-md-8"><h2>{{ page.summery }} </h2></div>
    <div class="col-md-4"><img scr="{{ page.img}}" /></div>
  </div>
</div>

<div class="hidden jsoncontent">
  <p>{{ page.json }} </p>
</div>

{{ content }}
