---
layout: default
---

{% capture dropbox_link %}{{ site.data.global.dropbox_folder_path }}{{ page.title }}{% endcapture %}

<h2> {{ page.title }} <small> ( Last Updated: {{ page.date | date_to_string }} ) </small> </h2>
<div class="page_title hidden"> {{ page.title }} </div>
<hr>


  <div class="row">
    <div class="col-md-8"><div class="jumbotron"><p>{{ page.summery }} </p>  </div></div>
    <div class="col-md-4"><img src="{{ page.img}}" width="90%"/></div>

</div>
<div> <h3> All Tests for {{ page.title }}   </h3></h><hr>  </div>
<div class="hidden jsoncontent">

		      	  {{ page.json }}


</div>

{{ content }}
